/* estilos.css */

/* Estilos generales */
.panel{
  background-color: gainsboro;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: auto;
}

.text-center {
  text-align: center;
  color:green
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  margin: 0;
  padding: 20px;
}

/* Contenedor principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Encabezado */
h1, h2 {
  text-align: center;
  color: #2c3e50;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td , tr{
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #3498db;
  color: white;
}

/* Botones */
.btn {
  padding: 10px 20px;
  display: inline-block;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: green;
}

.btn-editar {
  background-color: #f39c12;
}

.btn-eliminar {
  background-color: #e74c3c;
}

.btn-agregar {
  background-color: #2ecc71;
}

/* Formularios */
form label {
  display: block;
  margin: 10px 0 5px;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
